<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>nexus</id>
			<username>mvnuser</username>
			<password>mvnpass</password>
		</server>
		<server>
			<id>releases</id>
			<username>mvnuser</username>
			<password>mvnpass</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>mvnuser</username>
			<password>mvnpass</password>
		</server>
		<server>
			<id>thirdparty</id>
			<username>mvnuser</username>
			<password>mvnpass</password>
		</server>
		<server>
			<id>nexus-public-snapshots</id>
			<username>mvnuser</username>
			<password>mvnpass</password>
		</server>
		<server>
			<id>public-snapshots</id>
			<username>mvnuser</username>
			<password>mvnpass</password>
		</server>
		<server>
			<id>public</id>
			<username>mvnuser</username>
			<password>mvnpass</password>
		</server>
		<server>
			<id>confluence</id>
			<username>mvnuser</username>
			<password>mvnpass</password>
		</server>
		<server>
			<id>svn.allegiantair.com</id>
			<username>mvnuser</username>
			<password>mvnpass</password>
		</server>
		<server>
			<id>stash.allegiantair.com</id>
			<username>mvnuser</username>
			<password>mvnpass</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>resweb-dev-env</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<confluence.url>https://confluence.allegiantair.com:8443/rpc/xmlrpc</confluence.url>
				<legacy.datasource.driverClassName>com.ibm.db2.jcc.DB2Driver</legacy.datasource.driverClassName>
				<legacy.datasource.connectionURL>jdbc:db2://192.168.143.108:50001/CMSDB:currentSchema=CMSDB;</legacy.datasource.connectionURL>
				<legacy.datasource.username>webuser</legacy.datasource.username>
				<legacy.datasource.password>webpass</legacy.datasource.password>
				<legacy.hibernate.dialect>org.hibernate.dialect.DB2Dialect</legacy.hibernate.dialect>
				<legacy.hibernate.hbm2ddl.auto>false</legacy.hibernate.hbm2ddl.auto>

				<common.hibernate.connection.autocommit>false</common.hibernate.connection.autocommit>
				<common.hibernate.show_sql>false</common.hibernate.show_sql>
				<common.hibernate.bytecode.use_reflection_optimizer>true</common.hibernate.bytecode.use_reflection_optimizer>

				<!-- The target tomcat server used by cargo -->
				<cargo.remote.host>localhost</cargo.remote.host>
				<cargo.remote.port>8080</cargo.remote.port>
				<cargo.remote.username>admin-script</cargo.remote.username>
				<cargo.remote.password>tomcat-pwd</cargo.remote.password>
			</properties>
		</profile>
		<profile>
			<id>nexus-allegiant</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>releases</id>
                                	<name>Allegiant Releases Repository</name>
                                        <url>https://nexus.allegiantair.com:8443/content/repositories/releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>snapshots</id>
                                	<name>Allegiant Snapshots Repository</name>
                                        <url>https://nexus.allegiantair.com:8443/content/repositories/snapshots/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>deployment-third</id>
                                	<name>Allegiant 3rd Party Repository</name>
                                        <url>https://nexus.allegiantair.com:8443/content/repositories/thirdparty/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>jboss</id>
                                	<name>JBoss EAP 6.1.0</name>
                                        <url>https://nexus.allegiantair.com:8443/content/repositories/jboss-eap-6.1.0.GA-maven-repository/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>jboss-third</id>
                                	<name>JBoss 3rd Party</name>
                                        <url>https://nexus.allegiantair.com:8443/content/repositories/jboss-thirdparty-releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
                                <repository>
					<id>central-nexus</id>
					<name>central</name>
					<url>https://nexus.allegiantair.com:8443/content/repositories/central/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>public</id>
					<name>Maven Plugin Repository</name>
					<url>https://nexus.allegiantair.com:8443/content/groups/public</url>
					<layout>default</layout>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<id>public-snapshots</id>
					<url>https://nexus.allegiantair.com:8443/content/groups/public-snapshots/</url>
					<snapshots/>
				</pluginRepository>
				<pluginRepository>
					<id>central</id>
					<url>https://nexus.allegiantair.com:8443/content/repositories/central/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>plugin-snapshots</id>
                                	<name>Allegiant Snapshots Repository</name>
                                        <url>https://nexus.allegiantair.com:8443/content/repositories/snapshots/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>profile-php-maven</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<pluginRepositories>
				<pluginRepository>
					<id>release-repo1.php-maven.org</id>
					<name>PHP-Maven 2 Release Repository</name>
					<url>http://repos.php-maven.org/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<id>snapshot-repo1.php-maven.org</id>
					<name>PHP-Maven 2 Snapshot Repository</name>
					<url>http://repos.php-maven.org/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
			<repositories>
				<repository>
					<id>release-repo1.php-maven.org</id>
					<name>PHP-Maven 2 Release Repository</name>
					<url>http://repos.php-maven.org/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>snapshot-repo1.php-maven.org</id>
					<name>PHP-Maven 2 Snapshot Repository</name>
					<url>http://repos.php-maven.org/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
  </profiles>
</settings>
